@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

.main-container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 3rem;
}

body{
    background-color: #141619;
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

li{
    list-style: none;
    text-wrap: nowrap;
}




/*HEADER*/
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    gap: 5rem;
    margin-right: 8.2rem;
}

.menu-list li{
    color: #ffffff;
    margin-top: 16px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nav-comment p{
    color: #ffffff;
    margin-top: 18px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*INTRODUÇÃO*/

.introduction{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-optical-sizing: auto;
    margin-top: 8%;
}

.introduction-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linear-gradient-title{
    font-size: 7.5rem;
    font-weight: 500;
    font-style: normal;
    background-image: linear-gradient(to bottom, #CCCCCC, #A55FE6, #571891);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    list-style: none;
}

.subtitle{
    font-weight: 500;
    font-style: normal;
    font-size: 6.8rem;
    color: white;
}

.introduction-text{
    margin-top: 1.5rem ;
    font-weight: 300;
    font-style: normal;
    color: #E5E5E5;
    text-align: center;
    font-size: 1.9rem;
    line-height: 2.8rem;

}
.linear-gradient-btn{
    margin-top: 2rem ;
    margin-bottom: 20rem;
    width: clamp(100px, 10.417vw, 12.417vw);
    height: clamp(40px, 3.125vw, 5.125vw);
    background-image: linear-gradient(to bottom right, #AE8DCD, #A55FE6, #7C3ABA, #571891);
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: clamp(15px, 1.042vw, 2.042vw);
    border-radius: 3px;
    border: none;
    text-wrap: nowrap;
}


/*NOSSOS OBJETIVOS*/
.scope-container{
    display: flex;
    height:80vh;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.scope-title{
    font-size: 5.6rem;
    font-weight: 500;
    color: #ffffff;
    text-wrap: nowrap;
}

.scope-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    height: 65%;
    justify-items: center;
    align-items: end;
    gap: 3rem;
}

.scope-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: transparent;
    border: 1px solid #6D00A0;
    aspect-ratio: 1 / 1;
    width: 100%;      /* ocupa toda a coluna do grid */
    height: auto;
}

.mission-icon,
.vision-icon,
.values-icon{
    max-width: clamp(45px, 3.6vw, 8vw);
    margin-top: clamp(20px, 3vw, 4vw);
    margin-left: clamp(26px, 2.2vw, 4vw);
    margin-bottom: clamp(10px, 1vw, 4vw);
}


.scope-title-card{
    font-size: clamp(25px, 2.2vw, 5vw);
    font-weight: 700;
    margin-top: clamp(10px, 1vw, 2vw);
    margin-left: 4rem;
    color: #E7B4FF;
}

.scope-text{
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: clamp(10px, 1vw, 3vw);
    margin-left: 4rem;
    color: #ffffff;
    line-height: 1.6;
}

/*SOBRE NÓS*/

.about-container{
    margin-top: 12rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
}

.about-us-container{
    display: flex;
    flex-direction: column;
    align-items: center
}

.about-us-title{
    font-size: 5.6rem;
    font-weight: 500;
    color: #ffffff;
}

.about-us-text{
    margin-top: 1.2rem;
    color: #ffffff;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
}

.story-container{
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.story-text-container{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.story-title{
    font-size: 5rem;
    font-weight: 300;
    color: #ffffff;
    text-wrap: nowrap;
}

.story-text{
    font-size: 1.9rem;
    font-weight: 200;
    margin-top: 1.6rem;
    margin-left: 1rem;
    color: #ffffff;
    line-height: 1.6;
}

.story-icon{
    max-width: 42%;;
}

/*BENÉFICIOS DO NOSSO SISTEMA*/
.benefits-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.benefits-icon{
    width: 40%;
    margin-left: 8rem;
}

.benefits-text-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 10rem;
}

.benefits-title{
    font-size: 5rem;
    font-weight: 300;
    color: #ffffff;
}

.benefits-subtiltle{
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 1.6rem;
    color: #ffffff;
    line-height: 1.5;
}

.benefits-text{
    font-size: 1.9rem;
    font-weight: 300;
    margin-top: 1rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}

.read-more{
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 2.2rem;
    color: #E7B4FF;
}

/*COLABORADORES*/
.collaborators-container{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collaborators-title{
    font-size: 5.6rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #ffffff;
    line-height: 1.4;
    letter-spacing: 0.2rem;
    margin-right: 300px;
}

.collaborators-icon{
    width: 100%;

}

/*COMENTÁRIOS*/
.comments-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.comments-title{
    font-size: 5.6rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 2rem;
}

.comments-text{
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 1.2rem;
    color: #ffffff;
    line-height: 3.4rem;
    text-align: justify;
}

.comment-icon{
    width: 30px;
    margin-left: 25px;
    margin-right: 20px;
}

.comment-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #A55FE6;
    width: 740px;
    height: 60px;
    margin-top: 4%;
}

.comment-input{
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
    animation: none;
    transition: none;
    font-size: 1.7rem;
    width: 100%;
}

input:focus {
  outline: none;
}

input::placeholder { 
    color: #A55FE6; 
}

.comment-click{
    font-size: 1.6rem;
    font-weight: 500;
    color: #ffffff;
    margin-top: 6%;
}

.comment-message-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.comment-message{
    font-size: 1.5rem;
    font-weight: 200;
    color: #ffffff
}

.newo-icon{
    width: 100px;
}

label{
    width:0.5px;
    height: 35px;
    background-color: #666666;
    margin-left: 20px;
    margin-right: 20px;
}

/*SOBRE O SIME*/
.about-sime-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15%;
}

.about-sime-title{
    font-size: 5.5rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #ffffff;
    line-height: 1.4;
    margin-left: 200px;
    margin-right: 180px;
    text-wrap: nowrap;
}

.about-sime-container-text{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about-sime-text{
    font-size: 1.9rem;
    font-weight: 200;
    margin-top: 1.5rem;
    color: #ffffff;
    line-height: 1.6;
}

.contact-us-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.contact-us-title{
    font-size: 5.6rem;
    font-weight: 500;
    color: #ffffff;
    margin-left: 200px;
    margin-right: 180px;
}

.contact-us-text{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.9rem;
    font-weight: 200;
    color: #ffffff;
    line-height: 1.8;
}


/*Elementos sobrepostos (Circulos)

.c1, .c2, .c3, .c4, .c5 {
    position: absolute;
    filter: blur(250px);
    z-index: -1;
    border-radius: 50%;
}
.c1 {
    width: 638px;
    height: 577px;
    left: 19px;
    top: 53px;
    background: #A55FE6;
}
.c2 {
    width: 503px;
    height: 455px;
    left: 291px;
    top: 472px;
    background: #330063;
    filter: blur(150px);
}
.c3 {
    width: 371px;
    height: 335px;
    left: 1520px;
    top: 1699px;
    background: #6D00A0;
    filter: blur(200px);
}
.c4 {
    width: 371px;
    height: 335px;
    left: -42px;
    top: 1957px;
    background: #6D00A0;
    filter: blur(200px);
}
.c5 {
    width: 210px;
    height: 190px;
    left: 192px;
    top: 1762px;
    background: #D986FF;
    filter: blur(150px);
}
*/

hr{

    border-color: rgb(143, 140, 140);
    border-width: 1px;
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    margin: 4% 10% 0% 14%;
    padding: 0% 0% 2% 0%;
    width: 80%;
    max-width: 1440px;

}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info img{
    width: 16%;
    height: 16%;
}

.footer-title{
    color: white;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1.5rem;

}

.footer-subtitle{
    color: #E5E5E5;
    font-weight: 400;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.contact-icons img{
    width: 3rem;
    margin-top: 4%;
    margin-right: 2rem;
}


/*RESPONSIVIDADE*/

/*LAPTOP L*/
@media (max-width: 1024px){
   html{font-size: 52.5%;}

    .main-container {
        width: 90%;
        max-width: 1024px;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .about-container{
    margin-top: 12rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
}

.about-us-container{
    display: flex;
    flex-direction: column;
    align-items: center
}

.about-us-title{
    font-size: 5.6rem;
    font-weight: 500;
    color: #ffffff;
}

.about-us-text{
    margin-top: 1.2rem;
    color: #ffffff;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
}

.story-container{
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.story-text-container{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.story-title{
    font-size: 5rem;
    font-weight: 300;
    color: #ffffff;
    text-wrap: nowrap;
}

.story-text{
    font-size: 1.9rem;
    font-weight: 200;
    margin-top: 1.6rem;
    margin-left: 1rem;
    color: #ffffff;
    line-height: 1.6;
}

.story-icon{
    max-width: 42%;;
}



}

/*MOBILE L*/
@media (max-width: 425px){

}

/*MOBILE M*/
@media (max-width: 375px){

}

@media only screen and (max-width: 600px){
    .scope-cards{
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 40vh;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
    }

}
