@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

.main-container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 3rem;
}

body{
    background-color: #141619;
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

li{
    list-style: none;
    text-wrap: nowrap;
}

/*HEADER*/
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    gap: 5rem;
    margin-right: 8.2rem;
}

.menu-list li{
    color: #ffffff;
    margin-top: 16px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nav-comment p{
    color: #ffffff;
    margin-top: 18px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*INTRODUÇÃO*/

.introduction{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-optical-sizing: auto;
    margin-top: 15%;
}

.introduction-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linear-gradient-title{
    font-size: 7.5rem;
    font-weight: 500;
    font-style: normal;
    background-image: linear-gradient(to bottom, #CCCCCC, #A55FE6, #571891);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    list-style: none;
}

.subtitle{
    font-weight: 500;
    font-style: normal;
    font-size: 6.8rem;
    color: white;
}

.introduction-text{
    margin-top: 1.5rem ;
    font-weight: 300;
    font-style: normal;
    color: #E5E5E5;
    text-align: center;
    font-size: 1.9rem;
    line-height: 2.8rem;
    max-width: 40vw;

}

.linear-gradient-btn{
    margin-top: 2rem ;
    margin-bottom: 20rem;
    width: clamp(90px, 10.417vw, 12.417vw);
    height: clamp(30px, 3.125vw, 5.125vw);
    background-image: linear-gradient(to bottom right, #AE8DCD, #A55FE6, #7C3ABA, #571891);
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 1.6rem;
    border-radius: 3px;
    border: none;
    text-wrap: nowrap;
}


/*NOSSOS OBJETIVOS*/
.scope-container{
    display: flex;
    height: 65vh;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.scope-title{
    font-size: 5.6rem;
    font-weight: 500;
    color: #ffffff;
    text-wrap: nowrap;
}

.scope-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 90%;
    height: 65%;
    justify-items: center;
    align-items: end;
    gap: 3rem;
}

.scope-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: transparent;
    border: 1px solid #6D00A0;
    aspect-ratio: 1 / 1;
    width: 100%;      /* ocupa toda a coluna do grid */
    height: auto;
}

.mission-icon,
.vision-icon,
.values-icon{
    max-width: clamp(45px, 3.6vw, 8vw);
    margin-top: clamp(30px, 3vw, 4vw);
    margin-left: 3.3rem;
    margin-bottom: clamp(10px, 1vw, 4vw);
}


.scope-title-card{
    font-size: clamp(25px, 2.2vw, 5vw);
    font-weight: 700;
    margin-top: clamp(10px, 1vw, 2vw);
    margin-left: 4rem;
    color: #E7B4FF;
}

.scope-text{
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: clamp(10px, 1vw, 3vw);
    margin-left: 4rem;
    color: #ffffff;
    line-height: 1.6;
    max-width: 80%;
}

/*SOBRE NÓS*/

.about-container{
    margin-top: 12rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
}

.about-us-container{
    display: flex;
    flex-direction: column;
    align-items: center
}

.about-us-title{
    font-size: 5.6rem;
    font-weight: 500;
    color: #ffffff;
}

.about-us-text{
    margin-top: 1.2rem;
    color: #ffffff;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    max-width: 45vw;
}

.story-container{
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.story-text-container{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.story-title{
    font-size: 5rem;
    font-weight: 300;
    color: #ffffff;
    text-wrap: nowrap;
}

.story-text{
    font-size: 1.9rem;
    font-weight: 200;
    margin-top: 1.6rem;
    margin-left: 1rem;
    color: #ffffff;
    line-height: 1.6;
}

.story-icon{
    max-width: 42%;
    margin-left: 5.5rem;
}

/*BENÉFICIOS DO NOSSO SISTEMA*/
.benefits-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.benefits-icon{
    width: 40%;
    margin-left: 8rem;
}

.benefits-text-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 10rem;
}

.benefits-title{
    font-size: 5rem;
    font-weight: 300;
    color: #ffffff;
}

.benefits-subtiltle{
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 1.6rem;
    color: #ffffff;
    line-height: 1.5;
}

.benefits-text{
    font-size: 1.9rem;
    font-weight: 300;
    margin-top: 1rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}

.read-more{
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 2.2rem;
    color: #E7B4FF;
}

/*COLABORADORES*/
.collaborators-container{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collaborators-title{
    font-size: 5.6rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #ffffff;
    line-height: 1.4;
    letter-spacing: 0.2rem;
    margin-right: 30rem;
}

.collaborators-icon{
    max-width: 40%;

}

/*COMENTÁRIOS*/
.comments-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.comments-title{
    font-size: 5.6rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 2rem;
    text-wrap: nowrap;
}

.comments-text{
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 1.2rem;
    color: #ffffff;
    line-height: 3.4rem;
    text-align: justify;
    max-width: 55vw;
}

.comment-icon{
    width: 30px;
    margin-left: 25px;
    margin-right: 20px;
}

.comment-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #A55FE6;
    width: 740px;
    height: 60px;
    margin-top: 4%;
}

.comment-input{
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
    animation: none;
    transition: none;
    font-size: 1.7rem;
    width: 100%;
}

input:focus {
  outline: none;
}

input::placeholder { 
    color: #A55FE6; 
}

.comment-click{
    font-size: 1.6rem;
    font-weight: 500;
    color: #ffffff;
    margin-top: 6%;
}

.comment-message-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.comment-message{
    font-size: 1.5rem;
    font-weight: 200;
    color: #ffffff
}

.newo-icon{
    width: 100px;
}

label{
    width:0.5px;
    height: 35px;
    background-color: #666666;
    margin-left: 20px;
    margin-right: 20px;
}

/*SOBRE O SIME*/
.about-sime-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15%;
}

.about-sime-title{
    font-size: 5.5rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #ffffff;
    line-height: 1.4;
    margin-left: 20rem;
    margin-right: 15rem;
    text-wrap: nowrap;
}

.about-sime-container-text{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about-sime-text{
    font-size: 1.9rem;
    font-weight: 200;
    margin-top: 1.5rem;
    color: #ffffff;
    line-height: 1.6;
}

.contact-us-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.contact-us-title{
    font-size: 5.6rem;
    font-weight: 500;
    color: #ffffff;
    margin-left: 200px;
    margin-right: 180px;
    text-wrap: nowrap;
}

.contact-us-text{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.9rem;
    font-weight: 200;
    color: #ffffff;
    line-height: 1.8;
    max-width: 35vw;
}

/*Elementos sobrepostos (Circulos)*/

.container-luzes {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.c1, .c2, .c3, .c4, .c5, .c6 {
  position: absolute;
  z-index: -1;
}

.c1 {
    width: 55vw;
    height: 122vh;
    left: -25vw;
    top: 1700px;
    background: #872db2;
    filter: blur(18vw);
}
.c2 {
    width: 30vw;
    height: 50vh;
    left: -10vw;
    top: 3100px;
    background: #da75e6;
    filter: blur(18vw);
}
.c3{
    width: 37vw;
    height: 30vh;
    left: 18vw;
    top: 4444px;
    background: #7a4574;
    filter: blur(4vw);
    border-radius: 80%;
    transform: rotate(18deg);
}
.c4 {
    width: 25vw;
    height: 35vh;
    left: 52vw;
    top: 4800px;
    background: #4b3e8a;
    border-radius: 80%;
    filter: blur(4.5vw);
}
.c5 {
    width: 10vw;
    height: 11vh;
    left: 64vw;
    top: 4900px;
    background: #fff;
    border-radius: 80%;
    filter: blur(3.5vw);
    opacity: 60%;
}

.c6 {
    width: 10vw;
    height: 11vh;
    left: 50vw;
    top: 5000px;
    background: #ffe44d;
    border-radius: 80%;
    filter: blur(3.5vw);
    opacity: 60%;
}

/*
.c1 {
        top: 135vw;
    }
    .c2 {
        top: 415vh;
    }
    .c3{
        left: 8vw;
        top: 355vw;
    }
    .c4 {
        top: 380vw;
    }
    .c5 {
        top: 388vw;
    }
    
    .c6 {
        top: 393vw;
    }
        */


hr{

    border-color: rgb(143, 140, 140);
    border-width: 1px;
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    margin: 4% 10% 0% 14%;
    padding: 0% 0% 2% 0%;
    width: 80%;
    max-width: 1440px;

}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info img{
    width: 16%;
    height: 16%;
}

.footer-title{
    color: white;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1.5rem;

}

.footer-subtitle{
    color: #E5E5E5;
    font-weight: 400;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.contact-icons img{
    width: 3rem;
    margin-top: 4%;
    margin-right: 2rem;
}


/*RESPONSIVIDADE*/


/*LAPTOP M*/
@media (max-width: 1024px){

   html{font-size: 52.5%;}

    .main-container {
        width: 90%;
        max-width: 1024px;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .about-container{
    margin-top: 12rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    }

    .mission-icon,
    .vision-icon,
    .values-icon{
        margin-left: 2.4rem;
    }

    .scope-title-card{
        margin-left: 3rem;
    }

    .scope-text{
        margin-left: 3rem;
    }

    .collaborators-icon{
        max-width: 35%;
    }   

    .about-sime-title{
    margin-left: 10rem;
    margin-right: 15rem;
    text-wrap: nowrap;
}

.c1 {
    top: 135vw;
}
.c2 {
    top: 415vh;
}
.c3{
    left: 8vw;
    top: 355vw;
}
.c4 {
    top: 380vw;
}
.c5 {
    top: 388vw;
}

.c6 {
    top: 393vw;
}



}

/*
@media (max-width: 1380px){

.scope-cards{
    width: 90%;
    height: 65%;
    justify-items: center;
    align-items: end;
    gap: 3rem;
}

}

@media (max-width: 1305px){

.scope-cards{
    width: 95%;
    height: 65%;
    justify-items: center;
    align-items: end;
    gap: 3rem;
}

}

@media (max-width: 1238px){

.scope-cards{
    width: 100%;
    height: 65%;
    justify-items: center;
    align-items: end;
    gap: 3rem;
}

}

@media (max-width: 1198px){

.scope-cards{
    width: 103%;
    height: 65%;
    justify-items: center;
    align-items: end;
    gap: 3rem;
}

}

@media (max-width: 1160px){

.scope-cards{
    width: 108%;
    height: 65%;
    justify-items: center;
    align-items: end;
    gap: 3rem;
}

}*/


/*MOBILE L*/
@media (max-width: 428px){

    html{font-size: 45%;}

    .main-container {
        width: 90%;
        max-width: 425px;
        margin: 0 auto;
        margin-top: 3rem;
    }

    #nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* font-size: 1.4rem; */
}
.introduction-text{
    max-width: 370px;
}

.about-us-text{
    max-width: 350px;
}

.comments-text{
    max-width: 300px;
}
.linear-gradient-btn {
    margin-top: 3rem;
    margin-bottom: 10rem;
}

    .story-container {
        display: flex;
        height: 55vh;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-top: 10%;
}

.story-text-container {
    margin-left: 0rem;
    margin-top: 3rem;
}

.story-icon {
    margin-left: 0rem;
}

    .scope-container {
        display: flex;
        height: 140vh;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
}

    .scope-cards{
        width: 65%;
        height: 15%;
        justify-items: center;
        align-items: end;
        gap: 3rem;
}

    .scope-card{
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: transparent;
        border: 1px solid #6D00A0;
        aspect-ratio: 1 / 1;
        width: 100%;      /* ocupa toda a coluna do grid */
        height: 96%;
    }

    .benefits-container {
        flex-direction: column;
}

.benefits-text-container {
    margin-right: 0rem;
}
.benefits-icon {
    width: 40%;
    margin-left: 0rem;
}

.collaborators-container {
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.collaborators-title {
    margin-right: 0rem; }
    
    .about-sime-container {
        flex-direction: column;
        align-items: center;
        margin-top: 15%;}

.comments-title {
    font-size: 3.9rem;

}

.comments-text {
    font-size: 1.45rem;
    margin-top: 0rem;
    line-height: 2.8rem;
}

.scope-title-card {
        margin-left: 5rem;
    }

    .scope-text {
        margin-left: 5rem;
        font-size: 2.2rem;
    }

    .mission-icon, .vision-icon, .values-icon {
        margin-left: 4rem;
    }

    .benefits-icon {
        width: 60%;
        margin-left: 0rem;
    }

    .benefits-text-container {
        margin-right: 0rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

        .collaborators-icon {
        max-width: 50%;
        margin-top: 4rem;
    }

    .newo-icon {
    width: 70px;
}

label {
    height: 20px;
}

.info img {
    width: 18%;
}


.c1 {
        width: 310px;
        height: 370px;
        left: -52vw;
        top: 1784px;
        filter: blur(22vw);
        border-radius: 80%;
    }
.c2 {
    width: 49vw;
    height: 28vh;
    left: 7vw;
    top: 2578px;
    filter: blur(20vw);
}
.c3 {
        width: 200px;
        height: 85px;
        left: 18vw;
        top: 3418px;
        background: #7a4574;
        filter: blur(7vw);
        border-radius: 80%;
        transform: rotate(9deg);    
}

    .c4 {
        width: 140px;
        height: 140px;
        left: 52vw;
        top: 3732px;
        background: #4b3e8a;
        border-radius: 80%;
        filter: blur(8vw);}
    .c5 {
        width: 40px;
        height: 56px;
        left: 70vw;
        top: 3794px;
        background: #fff;
        border-radius: 80%;
        filter: blur(6vw);
        opacity: 70%;
    }

    .c6 {
        width: 60px;
        height: 60px;
        left: 50vw;
        top: 3834px;
        background: #ffe44d;
        border-radius: 80%;
        filter: blur(5vw);
        opacity: 50%;
    }

.contact-us-text {
    max-width: 100vw;
}

.scope-text {
    font-size: 1.9rem;
    max-width: 76%;
}

}



/*MOBILE M*/
@media (max-width: 378px){

    html{font-size: 38.5%;}

    .main-container {
        width: 100%;
        max-width: 378px;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .introduction-text {
        max-width: 325px;
    }

    .about-sime-text {
    font-size: 1.9rem;
    font-weight: 200;
    margin-top: 1.5rem;
    color: #ffffff;
    line-height: 1.6;
    max-width: 325px;
}
    .contact-us-text {
        max-width: 325px;
    }

        .benefits-text-container {
        margin-right: 0rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
        max-width: 325px;
    }

        .scope-cards {
        width: 58%;
        height: -12%;
        justify-items: center;
        align-items: end;
        gap: 3rem;
    }

        .scope-container {
        display: flex;
        height: 120vh;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

        .scope-text {
        margin-bottom: 10px;
    }

    .c1 {
        top: 1624px;
        filter: blur(25vw);}
    .c2 {
        width: 150px;
        height: 150px;
        left: 7vw;
        top: 2348px;
        filter: blur(20vw);
}
    .c3 {
        width: 200px;
        height: 85px;
        left: 18vw;
        top: 3150px;
        background: #7a4574;
        filter: blur(7vw);
        border-radius: 80%;
        transform: rotate(9deg);
    }

    .c4 {
        left: 46vw;
        top: 3390px;}

    .c5 {
        left: 65vw;
        top: 3450px;
    }

.c6 {
    left: 44vw;
    top: 3480px;
    filter: blur(6vw);
    }

    .scope-card {
        width: 95%;
        height: 90%;
    }

    .mission-icon, .vision-icon, .values-icon {
        margin-top: 15px;
    }

    .scope-title-card {
        margin-top: 0px;
        font-size: 20px;
    }

    .scope-text {
        max-width: 80%;
    }
}

