@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #141619;
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
    text-wrap: nowrap;
}

/*HEADER*/
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    align-items: center;

}



.logo img{
    margin-left: 1.667vw;
}

.menu-nav{
    
    display: flex;
    margin-right: 10%;
    margin-left: 18%;
    align-items: center;
}

.menu-nav ul{
    display: flex;
}

.menu-nav ul li{
    color: #ffffff;
    margin-right: 50px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.comment{
    margin-left: 8%;
}

.comment p{
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    margin-top: 18px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.introduction{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin-top: 8%;
}

.introduction-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linear-gradient-title{
    font-size: clamp(45px, 5.5vw, 7.5vw);
    font-weight: 500;
    font-style: normal;
    background-image: linear-gradient(to bottom, #CCCCCC, #A55FE6, #571891);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    list-style: none;
}
.subtitle{
    font-weight: 500;
    font-style: normal;
    font-size: clamp(40px, 4.167vw, 6.167vw);
    color: white;
}
.introduction-text{
    margin-top: 1.5rem ;
    font-weight: 300;
    font-style: normal;
    color: #E5E5E5;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.4rem);
    line-height: 1.5;

}
.linear-gradient-btn{
    margin-top: 1.5rem ;
    margin-bottom: 16% ;
    width: clamp(100px, 10.417vw, 12.417vw);
    height: clamp(40px, 3.125vw, 5.125vw);
    background-image: linear-gradient(to bottom right, #AE8DCD, #A55FE6, #7C3ABA, #571891);
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: clamp(15px, 1.042vw, 2.042vw);
    border-radius: 3px;
    border: none;
    text-wrap: nowrap;
}


/*NOSSOS OBJETIVOS*/
.scope-container{
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center
}

.scope-title{
    font-size: clamp(32px, 5.3vw, 7.3vw);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-wrap: nowrap;
}

.scope-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    height: 78%;
    justify-items: center;
    align-items: end;
}

@media only screen and (max-width: 600px){
    .scope-cards{
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 40vh;
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
    }

}

.scope-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: transparent;
    border: 1px solid #6D00A0;
    width: 90%;
    height: 80%;
}


.mission-icon{
    scale: 50%;
    margin-top: 2px;
}

.vision-icon{
    scale: 50%;
    margin-top: 24px;
}

.values-icon{
    scale: 50%;
}

.scope-title-card{
    font-size: clamp(25px, 3vw, 5vw);
    font-weight: 700;
    margin-top: 0.6rem;
    margin-left: 2.1rem;
    color: #E7B4FF;
    font-family: "Inter", sans-serif;
}

.scope-text{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1.6rem;
    margin-left: 2.1rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}

/*SOBRE NÓS*/

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
}

.about-us-container{
    display: flex;
    flex-direction: column;
    align-items: center
}

.about-us-title{
    font-size: 3.8rem;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

.about-us-text{
    margin-top: 1.2rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
}

.story-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.story-text-container{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.story-title{
    font-size: 2.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.story-text{
    font-size: 1.4rem;
    font-weight: 200;
    margin-top: 1.6rem;
    margin-left: 1rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}

.story-icon{
    scale: 58%;
}

.benefits-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.benefits-icon{
    width: 40%;
    margin-left: 8rem;
}

.benefits-text-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 10rem;
}

.benefits-title{
    font-size: 2.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.benefits-subtiltle{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1.6rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

.benefits-text{
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 1rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}

.read-more{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2.4rem;
    font-family: "Inter", sans-serif;
    color: #E7B4FF;
}

.collaborators-container{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collaborators-title{
    font-size: 4rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    letter-spacing: 0.2rem;
    margin-right: 300px;
}

.collaborators-icon{
    width: 100%;

}

.comments-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.comments-title{
    font-size: 3.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 2rem;
}

.comments-text{
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 1.4rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 2;
    text-align: justify;
}

.comment-icon{
    width: 30px;
    margin-left: 25px;
    margin-right: 20px;
}

.comment-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #A55FE6;
    width: 790px;
    height: 60px;
    margin-top: 4%;
}

.comment-input{
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
    animation: none;
    transition: none;
    font-size: 1.2rem;
}

input:focus {
  outline: none;
}

input::placeholder { 
    color: #A55FE6; 
}

.comment-click{
    font-size: 1.1rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    margin-top: 6%;
}

.comment-message-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.comment-message{
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color: #ffffff
}

.newo-icon{
    width: 100px;
}

label{
    width:0.5px;
    height: 35px;
    background-color: #666666;
    margin-left: 20px;
    margin-right: 20px;
}

.about-sime-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15%;
}

.title-about-sime{
    font-size: 4rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    letter-spacing: 0.2rem;
    margin-left: 200px;
    margin-right: 180px;
}

.about-sime-container-text{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.text-about-sime{
    font-size: 1.4rem;
    font-weight: 200;
    margin-top: 1.5rem;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}

.contact-us-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.title-contact-us{
    font-size: 4rem;
    font-weight: 500;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    margin-left: 200px;
    margin-right: 180px;
}

.text-contact-us{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 200;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.8;
}


/*Elementos sobrepostos (Circulos)

.c1, .c2, .c3, .c4, .c5 {
    position: absolute;
    filter: blur(250px);
    z-index: -1;
    border-radius: 50%;
}
.c1 {
    width: 638px;
    height: 577px;
    left: 19px;
    top: 53px;
    background: #A55FE6;
}
.c2 {
    width: 503px;
    height: 455px;
    left: 291px;
    top: 472px;
    background: #330063;
    filter: blur(150px);
}
.c3 {
    width: 371px;
    height: 335px;
    left: 1520px;
    top: 1699px;
    background: #6D00A0;
    filter: blur(200px);
}
.c4 {
    width: 371px;
    height: 335px;
    left: -42px;
    top: 1957px;
    background: #6D00A0;
    filter: blur(200px);
}
.c5 {
    width: 210px;
    height: 190px;
    left: 192px;
    top: 1762px;
    background: #D986FF;
    filter: blur(150px);
}
*/

hr{

    border-color: rgb(143, 140, 140);
    border-width: 1px;
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    margin: 4% 10% 0% 14%;
    padding: 0% 0% 2% 0%;

}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info img{
    width: 16%;
    height: 16%;
}

.footer-title{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 1.5rem;

}

.footer-subtitle{
    color: #E5E5E5;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 1rem;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.contact-icons img{
    width: 1.8rem;
    margin-top: 8%;
    margin-right: 2rem;
}