@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* sessão 1 - Nossa Empresa */

.dot{
    background-color: #A55FE6;
}

body{
    background-color: #141619;
    margin: 0;
    padding: 0;
}

.menu-nav ul li a {
    color: #ffffff;
    text-decoration: none; 
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.menu-nav ul li a:active {
    color: #A55FE6;
    text-decoration: none; 
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

li{
    list-style: none;
}

/*HEADER*/
.menu-nav ul li a.menu-ativo {
    color: #A55FE6;
    text-decoration: none; 
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 600; 
    border-bottom: 2px solid #A55FE6;
    padding-bottom: 5px; 
}

.c1 {
    position: absolute;
    width: 638px;
    height: 577px;
    left: 19px;
    top: 53px;
    background: #A55FE6;
    filter: blur(250px);
    z-index: -1;
    border-radius: 50%;
}

.c2{
    position: absolute;
    width: 503px;
    height: 455px;
    left: 291px;
    top: 472px;
    background: #330063;
    filter: blur(150px);
    z-index: -1;
    border-radius: 50%; 

}

#nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.logo img{
    margin-left: 32px;
}

.menu-nav{
    display: flex;
    margin-right: 60px;
}

.menu-nav ul{
    display: flex;
}

.menu-nav ul li{
    color: #ffffff;
    margin-right: 50px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.comment{
    margin-right: 40px;
}

.comment p{
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    margin-top: 18px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin-top: 15%;
}

.introduction-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linear-gradient-title{
    font-size: 5.5rem;
    font-weight: 500;
    font-style: normal;
    background-image: linear-gradient(to bottom, #CCCCCC, #A55FE6, #571891);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    list-style: none;
}
.subtitle{
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    color: white;
}
.introduction-text{
    margin-top: 1.5rem ;
    font-weight: 300;
    font-style: normal;
    color: #E5E5E5;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;

}

.linear-gradient-btn{
    margin-top: 1.5rem ;
    margin-bottom: 16% ;
    width: 200px;
    height: 60px;
    background-image: linear-gradient(to bottom right, #AE8DCD, #A55FE6, #7C3ABA, #571891);
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    border: none;
}

hr{
    border-color: rgb(143, 140, 140);
    border-width: 1px;
}


.cards-section {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.cards-container {
    display: flex;
    gap: 30px; 
    justify-content: center;
    flex-wrap: wrap; 
}


.card {
    background: #17171E;
    border: 1px solid #525252;
    border-radius: 5px;
    width: 323px;
    height: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.card img {
    margin-top: 15px;
    width: 44px;
    height: 44px;
}

.imagemdinheiro{
    width: 44px;
    height: 44px;
    left: 222px;
    top: 1063px;
    z-index: 2;
    background: url(money.png);
}

.card-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    background: linear-gradient(180deg, #FFFFFF 0%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 25px;
}

.card-description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #C2C2C2;
    margin-top: 15px;
}

.price-container {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.price {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    background: linear-gradient(180deg, #AE8DCD 0%, #A55FE6 50%, #6D00A0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.price-per-month {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #C2C2C2;
    margin-left: 5px;
}

.card-features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.feature-item img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.feature-item p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #C2C2C2;
}

.buy-button {
    margin-top: auto; /* Empurra o botão para a parte de baixo do card */
    width: 160px;
    height: 49px;
    background: linear-gradient(135deg, #AE8DCD 0%, #A55FE6 44.76%, #571891 100%);
    border-radius: 2px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    margin: 6% 10% 0% 14%;
    padding: 0% 0% 5% 0%;

}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info img{
    width: 16%;
    height: 16%;
}

.footer-title{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 1.5rem;

}

.footer-subtitle{
    color: #E5E5E5;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 1rem;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.contact-icons img{
    width: 1.8rem;
    margin-top: 10%;
    margin-right: 2rem;
}

