@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kantumruy+Pro:wght@100..700&family=Montserrat:wght@100..900&display=swap');

/*=======================GERAL================================*/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141619;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
/*=======================HEADER================================*/

#nav{
    display: flex;
    justify-content: space-between;
    padding: clamp(1.5vw, 2.03vw, 30px);
    align-items: center;
}

.logo img{
    margin-left: clamp(1.5vw, 4vw, 32px);
    width: 190px; 
}

.menu-nav{
    display: flex;
    margin-right: clamp(2.5vw, 4.06vw, 60px);
}

.menu-nav ul{
    display: flex;
}

.menu-nav ul li{
    color: #ffffff;
    margin-right: clamp(2vw, 3.39vw, 50px);
    font-size: clamp(0.5vw, 1.1vw, 20px);
    font-family: "Inter", sans-serif;
    margin-top: clamp(0.5vw, 1.2vw, 16px);
    font-weight: 300;
    font-style: normal;
}

.menu-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: clamp(0.5vw, 1.1vw, 20px);
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.menu-nav ul li a:active {
    color: #A55FE6;
    text-decoration: none;
    font-size: clamp(0.7vw, 1.1vw, 20px);
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.menu-nav ul li a.menu-ativo {
    color: #A55FE6;
    text-decoration: none;
    font-size: clamp(0.7vw, 1.1vw, 20px);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border-bottom: clamp(0.1vw, 0.14vw, 2px) solid #A55FE6;
    padding-bottom: clamp(0.2vw, 0.34vw, 5px);
}

.comment{
    margin-right: clamp(1.5vw, 2.71vw, 40px);
}

.comment p{
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: clamp(0.7vw, 1.16vw, 20px);
    margin-top: clamp(0.5vw, 1.22vw, 18px);
    font-weight: 300;
    font-style: normal;
}

.comment p a:visited{
    color: #ffffff;
}

.hamburger-icon {
    width: 1vw;
    height: 1vw;
    display: none;
}

/*=======================MENU MOBILE================================*/

.menu-mobile {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 50vw; 
    max-width: 280px;
    height: 100vh;
    background-color: #141619; 
    z-index: 10000;
    padding: 3vw 2vw;
    transition: right 0.3s ease-in-out;
    box-shadow: 0.2vw 0 1vw rgba(0,0,0,0.5);
    display: none;
    flex-direction: column; 
}

.menu-mobile.open {
    right: 0; 
}

.menu-mobile .fechar {
    position: absolute;
    top: 10vw;
    right: 10vw;
    width: 3vw;
    height: 3vw;
    max-width: 30px; 
    max-height: 30px;
    cursor: pointer;
    z-index: 10001;
    color: #FFFFFF; 
}

.menu-mobile .menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%; 
    padding: 0;
    margin-top: 25vw;
}

.menu-mobile .menu-list li {
    width: 100%;
    position: relative; 
    display: flex; 
    align-items: center; 
    padding: 1.5vw 2vw;
    margin-bottom: 12vw;
}

.menu-mobile .menu-list li img {
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
}

.menu-mobile .menu-list li a {
    color: #FFFFFF; 
    font-size: 3vw;
    font-weight: 300;
    margin-left: 0; 
    flex-grow: 1;
}

.menu-mobile .menu-list li a.menu-ativo {
    color: #A55FE6; 
    font-weight: 600; 
    background-color: transparent;
    border-bottom: none; 
    padding-bottom: 0;
}

.menu-mobile .menu-list li:has(a.menu-ativo) img {
    filter: invert(40%) sepia(80%) saturate(2000%) hue-rotate(260deg) brightness(120%);
}

.menu-mobile .menu-list li:has(a.menu-ativo)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.4vw;
    height: 100%;
    background-color: #A55FE6; 
    border-radius: 0 0.5vw 0.5vw 0; 
}


/*=======================INTRODUÇÃO================================*/

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(10vw, 15vw, 220px);
}

.introduction-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-weight: 500;
    font-size: clamp(3vw, 5.42vw, 80px);
    color: white;
}

.introduction-text {
    margin-top: clamp(1vw, 1.63vw, 24px);
    font-weight: 300;
    color: #E5E5E5;
    text-align: center;
    font-size: clamp(1vw, 1.35vw, 24px);
    line-height: 1.5;
}

.introduction-text-mobile{
    display: none;
}

/*=======================PREÇO================================*/

.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(12vw, 17.33vw, 250px);
    margin-bottom: clamp(3vw, 5.42vw, 80px);
}

.cards-container {
    display: flex;
    justify-content: center;
}

.card {
    background: #17171E;
    border: clamp(0.05vw, 0.07vw, 1px) solid #525252;
    border-radius: clamp(0.2vw, 0.34vw, 5px);
    width: clamp(18vw, 22vw, 320px); 
    height: clamp(28vw, 35vw, 500px); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: clamp(1.5vw, 2.1vw, 30px); 
    box-sizing: border-box;
}

.card img {
    
    margin-top: clamp(0.8vw, 1.2vw, 18px); 
    width: clamp(1.8vw, 2.5vw, 38px); 
    height: clamp(1.8vw, 2.5vw, 38px); 
}

.imagemdinheiro {
    width: clamp(1.8vw, 2.5vw, 38px); 
    height: clamp(1.8vw, 2.5vw, 38px); 
    z-index: 2;
}

.card-title {
    font-weight: 500;
    font-size: clamp(0.7vw, 1.1vw, 19px); 
    line-height: clamp(0.9vw, 1.2vw, 19px); 
    background: linear-gradient(180deg, #FFFFFF 0%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: clamp(1.5vw, 2.8vw, 45px); 
}

.card-description {
    font-weight: 400;
    font-size: clamp(0.5vw, 0.75vw, 12px); 
    line-height: clamp(0.8vw, 1.2vw, 18px); 
    color: #C2C2C2;
    
    margin-top: clamp(0.6vw, 1.2vw, 18px); 
}

.cards-section h2{
    font-weight: 500;
    font-size: clamp(2vw, 3.79vw, 54px);
    line-height: clamp(3vw, 5.3vw, 78px);
    text-align: center;
    color: #FFFFFF;
    margin-bottom: clamp(3vw, 1.5vw, 84px);
}

.price-container2 {
    display: flex;
    align-items: baseline;
    
    margin-top: clamp(0.4vw, 0.6vw, 8px); 
}

.price {
    font-weight: 400;
    font-size: clamp(1.2vw, 1.8vw, 32px); 
    
    margin-top: clamp(0.6vw, 1.0vw, 15px); 
    background: linear-gradient(180deg, #AE8DCD 0%, #A55FE6 50%, #6D00A0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.price-per-month {
    font-weight: 400;
    font-size: clamp(0.4vw, 0.7vw, 12px); 
    color: #C2C2C2;
    margin-left: clamp(0.25vw, 0.4vw, 6px); 
}

.card-features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin-top: clamp(1.5vw, 2.2vw, 30px); 
    padding-left: 0;
}

.feature-item {
    display: flex;
    align-items: center;
    
    margin-bottom: clamp(0.8vw, 1.4vw, 20px); 
}

.feature-item img {
    width: clamp(0.8vw, 1.2vw, 18px); 
    height: clamp(0.8vw, 1.2vw, 18px); 
    margin-right: clamp(0.25vw, 0.5vw, 8px); 
    margin-top: 0;
}

.feature-item p {
    font-weight: 400;
    font-size: clamp(0.4vw, 0.7vw, 12px); 
    color: #C2C2C2;
    margin-top: 0.75vw;
}

.buy-button {
    margin-top: auto;
    width: clamp(7vw, 9vw, 140px); 
    height: clamp(2vw, 3vw, 40px); 
    margin-top: clamp(2vw, 2.5vw, 40px);
    margin-bottom: clamp(0.8vw, 1vw, 20px); 
    background: linear-gradient(135deg, #AE8DCD 0%, #A55FE6 44.76%, #571891 100%);
    border-radius: clamp(0.1vw, 0.14vw, 2px);
    color: #FFFFFF;
    font-weight: 500;
    font-size: clamp(0.6vw, 0.85vw, 14px); 
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
}

/*=======================FORM================================*/

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: clamp(8vw, 13vw, 190px);
    margin-bottom: clamp(3vw, 5.42vw, 80px);
}

 .form-section h2 {
    font-weight: 500;
    font-size: clamp(2vw, 3.79vw, 54px);
    line-height: clamp(3vw, 5.3vw, 78px);
    text-align: center;
    color: #FFFFFF;
    margin-bottom: clamp(0.5vw, 1.5vw, 84px);
}

.form-section h3{
    font-family: 'Kantumruy-pro', sans-serif;
    font-style: light; 
    font-weight: 200;
    font-size: clamp(1vw, 1.35vw, 24px);
    line-height: clamp(1.5vw, 2.44vw, 36px);
    color: #FFFFFF;
    margin-bottom: clamp(1vw, 2vw, 84px);
}

.Campos {
    margin-top: clamp(1.5vw, 2.03vw, 30px);
    display: flex;
    flex-direction: column;
    gap: clamp(0.8vw, 1.2vw, 20px);
    width: 100%; 
    max-width: 510px; 
    align-items: center;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container.with-icon {
    position: relative;
}

.input-icon {
    position: absolute;
    left: clamp(0.5vw, 1.02vw, 15px);
    top: clamp(1.9vw, 6vw, 15px);
    transform: translateY(-50%);
    width: clamp(0.8vw, 1.8vw, 20px);
    height: clamp(0.8vw, 3.9vw, 20px);
    z-index: 10;
}

.input-container input,
.input-container textarea {
    background-color: transparent;
    border: clamp(0.05vw, 0.07vw, 1px) solid #B784E7;
    border-radius: clamp(0.2vw, 0.34vw, 5px);
    width: 100%; 
    padding: clamp(0.1vw, 5vw, 16px); 
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: clamp(0.8vw, 1.2vw, 18px);
}

.input-container ::placeholder {
    font-family: "Kantumruy Pro", sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: clamp(1vw, 1.2vw, 24px);
    color: #A55FE6;
}

.input-container.with-icon input {
    padding-left: clamp(2vw, 4vw, 45px);
}

.input-container input:focus,
.input-container textarea:focus {
    outline: none;
    border-color: #A55FE6;
}

.input-container.with-icon ::placeholder {
    color: #A55FE6;
    font-family: "Kantumruy Pro", sans-serif;
}

.submit-button {
    margin-top: clamp(0.8vw, 2.5vw, 20px);
    width: clamp(8vw, 9vw, 160px);
    height: clamp(2.5vw, 3vw, 50px);
    background: linear-gradient(135deg, #AE8DCD 0%, #A55FE6 44.76%, #571891 100%);
    border-radius: clamp(0.1vw, 0.14vw, 2px);
    color: #FFFFFF;
    font-weight: 500;
    font-size: clamp(0.7vw, 0.85vw, 16px);
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/*=======================CIRCULOS================================*/
.c1, .c2, .c3, .c4, .c5 {
    position: absolute;
    filter: blur(clamp(10vw, 16.93vw, 250px));
    z-index: -1;
    border-radius: 50%;
}
.c1 {
    width: clamp(30vw, 43.16vw, 620px);
    height: clamp(25vw, 39.08vw, 560px);
    left: clamp(0.5vw, 1.29vw, 20px);
    top: clamp(2vw, 3.59vw, 50px);
    background: #A55FE6;
}
.c2 {
    width: clamp(25vw, 34.05vw, 490px);
    height: clamp(20vw, 30.8vw, 445px);
    left: clamp(15vw, 19.68vw, 285px);
    top: clamp(25vw, 31.96vw, 460px);
    background: #330063;
    filter: blur(clamp(5vw, 10.16vw, 150px));
}
.c3 {
    width: clamp(18vw, 25.13vw, 360px);
    height: clamp(15vw, 22.68vw, 330px);
    left: clamp(80vw, 102.81vw, 1480px);
    top: clamp(90vw, 114.66vw, 1650px);
    background: #6D00A0;
    filter: blur(clamp(8vw, 13.54vw, 200px));
}
.c4 {
    width: clamp(18vw, 25.13vw, 360px);
    height: clamp(15vw, 22.68vw, 330px);
    left: clamp(-5vw, -2.84vw, -40px);
    top: clamp(110vw, 132.89vw, 1910px);
    background: #6D00A0;
    filter: blur(clamp(8vw, 13.54vw, 200px));
}
.c5 {
    width: clamp(10vw, 14.24vw, 205px);
    height: clamp(8vw, 12.89vw, 185px);
    left: clamp(5vw, 13vw, 190px);
    top: clamp(100vw, 119.53vw, 1720px);
    background: #D986FF;
    filter: blur(clamp(5vw, 10.16vw, 150px));
}

.circulo{
    position: absolute;
    width: clamp(0.8vw, 1.3vw, 18px);
    height: clamp(0.8vw, 1.3vw, 18px);
    border-radius: 50%;
    right: 1.5vw;
    top: clamp(1vw, 3.5vw, 110px);
    background: linear-gradient(180deg, #C2C2C2 0%, #A55FE6 50%, #6D00A0 100%);
}

/*=======================FOOTER================================*/
footer {
    display: flex;
    flex-direction: column;
    margin: clamp(3vw, 4.8vw, 70px) clamp(5vw, 8vw, 115px) 0 clamp(8vw, 11.2vw, 160px);
    padding: 0 0 clamp(2vw, 4vw, 60px) 0;
}
hr {
    border-color: rgb(143, 140, 140);
    border-width: clamp(0.05vw, 0.07vw, 1px);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info img {
    width: 16%; 
    height: 16%;
}

.footer-title {
    color: white;
    font-weight: 400;
    font-size: clamp(0.8vw, 1.3vw, 20px);
    margin-bottom: clamp(1vw, 1.63vw, 24px);
}

.footer-subtitle {
    color: #E5E5E5;
    font-weight: 400;
    font-size: clamp(0.7vw, 1.08vw, 18px);
    margin-bottom: clamp(0.5vw, 1.08vw, 16px);
}

.contact-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contact-icons img {
    width: clamp(1.2vw, 1.95vw, 28px);
    margin-top: clamp(0.5vw, 0.8vw, 12px);
    margin-right: clamp(1.5vw, 2.17vw, 32px);
}


/*=======================@MEDIAS================================*/
@media screen and (max-width: 1920px) and (max-height: 1080px) {

    .logo{
        margin-left: 5.3vw;
        margin-top: 0.5vw;
    }
    
    .menu-nav {
        margin-right: 5vw; 
    }

    .card {
        border-radius: clamp(0.2vw, 0.34vw, 5px);
        width: clamp(18vw, 22vw, 320px); 
        height: clamp(28vw, 50vw, 600px); 
        padding: clamp(1.5vw, 2.1vw, 30px); 
    }

    .card img{
        margin-top: 0.6vw; 
        width: 2.7vw; 
        height: 2.7vw; 
    }

    .imagemdinheiro {
        width: 2.7vw; 
        height: 2.7vw; 
    }

    .card-title {
        font-size: 1.5vw; 
        margin-top: 2.2vw; 
    }

    .card-description {
        font-size: 0.9vw; 
        margin-top: 1.8vw; 
    }

    .feature-item img {
        width: 1.4vw; 
        height: 1.4vw; 
        margin-right: 0.4vw; 
    } 

    .feature-item p {
        font-size: 0.9vw; 
    }

    .price {
        font-size: vw; 
        margin-top: 2.2vw; 
    }

    .price-per-month {
        font-size: 1vw; 
    }

    .card-features {
        margin-top: 2.5vw; 
    }
    
    .feature-item {
        margin-bottom: 1.5vw; 
    }

    /*.input-icon {
        left: clamp(0.5vw, 1.02vw, 15px);
        top: 1.4vw;
        width: clamp(0.8vw, 2vw, 20px);
        height: clamp(0.8vw, 3.9vw, 20px);
    }*/

    .circulo{
        width: clamp(0.8vw, 1.3vw, 18px);
        height: clamp(0.8vw, 1.3vw, 18px);
        right: clamp(4vw, 10.6vw, 175px); 
        top: clamp(1vw, 4.4vw, 110px);
    }

    .buy-button {
        margin-top: auto;
        width: clamp(7vw, 9vw, 140px); 
        height: clamp(2vw, 3vw, 40px); 
        margin-top: clamp(1vw, 1.5vw, 40px);
        margin-bottom: clamp(0.8vw, 1vw, 20px); 
        background: linear-gradient(135deg, #AE8DCD 0%, #A55FE6 44.76%, #571891 100%);
        border-radius: clamp(0.1vw, 0.14vw, 2px);
        color: #FFFFFF;
        font-weight: 500;
        font-size: clamp(0.6vw, 0.85vw, 14px); 
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        border: none;
    }
    
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
    .logo{
        margin-left: 5.3vw;
        margin-top: 0.3vw;
    }
    
    .menu-nav {
        margin-right: 5vw; 
    }

    .comment {
        margin-right: 8vw;
    }

    .menu-nav ul li {
        margin-right: 2.1vw; 
    }

    .menu-nav ul li,
    .menu-nav ul li a,
    .menu-nav ul li a.menu-ativo,
    .comment p {
        font-size: 1.1vw; 
        margin-top: 1.5vw;
        margin-left: 0.9vw;
    }

    .menu-nav ul li a.menu-ativo {
        padding-bottom: 0.1vw;
    }
    
    .comment p {
        margin-right: 0; 
    }

    .introduction-text {
        font-size: 1.35vw;
        margin-top: 2.1vw;
    }
    
    .subtitle {
        font-size: 5vw;
    }

    .cards-section h2, .form-section h2 {
        font-size: 3.5vw;
    }

    .card {
        width: 28vw; 
        height: 46vw; 
        padding: 2.2vw; 
    }

    .card img{
        margin-top: 0.6vw; 
        width: 2.7vw; 
        height: 2.7vw; 
    }

    .imagemdinheiro {
        width: 2.7vw; 
        height: 2.7vw; 
    }

    .card-title {
        font-size: 1.5vw; 
        margin-top: 2.2vw; 
    }

    .card-description {
        font-size: 1.1vw; 
        margin-top: 1.8vw; 
    }

    .feature-item img {
        width: 1.7vw; 
        height: 1.7vw; 
        margin-right: 0.4vw; 
    } 

    .feature-item p {
        font-size: 1vw; 
    }

    .price {
        font-size: 2.1vw; 
        margin-top: 2.2vw; 
    }

    .price-per-month {
        font-size: 1vw; 
    }

    .card-features {
        margin-top: 2.5vw; 
    }
    
    .feature-item {
        margin-bottom: 1.5vw; 
    }

    .c3 {
        width: 20vw;
        height: 18vw;
        left: 76vw;
        top: 113vw;
        z-index: -1;
    }

    .circulo{
        width: clamp(0.8vw, 1.3vw, 18px);
        height: clamp(0.8vw, 1.3vw, 18px);
        right: 16vw; 
        top: clamp(1vw, 4.7vw, 110px);
    }

}

@media screen and (max-width: 1024px) and (max-height: 1400px){
    .c3 {
        width: 20vw;
        height: 18vw;
        left: 76vw;
        top: 113vw;
        z-index: -1;
    }

    .circulo{
        width: clamp(0.8vw, 1.3vw, 18px);
        height: clamp(0.8vw, 1.3vw, 18px);
        right: 11vw; 
        top: clamp(1vw, 5vw, 110px);
    }

    .input-icon {
        position: absolute;
        left: clamp(0.5vw, 1.02vw, 15px);
        top: clamp(2.3vw, 11vw, 15px);
        transform: translateY(-50%);
        width: clamp(0.8vw, 2vw, 20px);
        height: clamp(0.8vw, 3.9vw, 20px);
        z-index: 10;
    }

    .Campos {
        gap: clamp(0.8vw, 1.2vw, 20px);
        width: 100%; 
    }
       

    .cards-section h2, .form-section h2 {
        font-size: 3.5vw;
    }

    .card {
        width: 28vw; 
        height: 46vw; 
        padding: 2.2vw; 
    }

    .card img{
        margin-top: 0.6vw; 
        width: 2.7vw; 
        height: 2.7vw; 
    }

    .imagemdinheiro {
        width: 2.7vw; 
        height: 2.7vw; 
    }

    .card-title {
        font-size: 1.5vw; 
        margin-top: 2.2vw; 
    }

    .card-description {
        font-size: 1.1vw; 
        margin-top: 1.8vw; 
    }

    .feature-item img {
        width: 1.7vw; 
        height: 1.7vw; 
        margin-right: 0.4vw; 
    } 

    .feature-item p {
        font-size: 1vw; 
    }

    .price {
        font-size: 2.1vw; 
        margin-top: 2.2vw; 
    }

    .price-per-month {
        font-size: 1vw; 
    }

    .card-features {
        margin-top: 2.5vw; 
    }
    
    .feature-item {
        margin-bottom: 1.5vw; 
    }

    .buy-button, .submit-button{
        width: 14vw;
        height: 3.5vw;
        font-size: 1vw;    
    }
}

@media screen and (max-width: 1024px) and (max-height: 600px){
    .circulo{
        width: clamp(0.8vw, 1.3vw, 18px);
        height: clamp(0.8vw, 1.3vw, 18px);
        right: 16vw; 
        top: clamp(1vw, 5.3vw, 110px);
    }
}

@media screen and (max-width: 950px){

    .logo img{
        margin-left: clamp(0.5vw, 5vw, 32px);
        margin-top: clamp(0.5vw, 5vw, 32px);
        width: 130px; 
    }

    .introduction-text {
        margin-top: clamp(1vw, 1.63vw, 24px);
        font-size: clamp(1vw, 1.5vw, 24px);
        line-height: 1.5;
    }

    .menu-nav ul{
        margin-top: clamp(1vw, 4.3vw, 100px);
    }

    .menu-nav ul li{
        margin-right: clamp(2vw, 3.39vw, 50px);
        font-size: clamp(0.5vw, 1.5vw, 20px);
    }

    .menu-nav ul li a {
        font-size: clamp(0.5vw, 1.5vw, 20px);
        font-weight: 300;
    }

    .menu-nav ul li a:active {
        font-size: clamp(0.7vw, 1.5vw, 20px);
    }

    .menu-nav ul li a.menu-ativo {
        font-size: clamp(0.7vw, 1.5vw, 20px);
        padding-bottom: clamp(0.2vw, 0.34vw, 5px);
    }

    .comment{
        margin-right: clamp(1.5vw, 2.71vw, 40px);
        margin-top: clamp(1vw, 4.3vw, 100px);
    }

    .comment p{
        font-size: clamp(0.7vw, 1.5vw, 20px);
    }

    .cards-section h2{
        font-size: 4vw;
        padding: 4vw;
    }

    .form-section h2 {
        font-size: 4vw;
    }

    .card {
        width: 33vw;
        height: 56vw;
        padding: 3vw;
    }

    .card img{
        margin-top: 1vw;
        width: 3vw;
        height: 3vw;
    }

    .imagemdinheiro {
        width: 3vw;
        height: 3vw;
    }

    .card-title {
        font-size: 2vw;
        margin-top: 3vw;
        line-height: 1.3;
    }

    .card-description {
        font-size: 1.5vw;
        margin-top: 2.2vw;
        line-height: 1.3;
    }

    .feature-item img {
        width: 2vw;
        height: 2vw;
        margin-right: 0.5vw;
    } 

    .feature-item p {
        font-size: 1.4vw;
        margin-top: 1.3vw;
    }

    .price {
        font-size: 2.5vw;
        margin-top: 2.5vw;
    }

    .price-per-month {
        font-size: 1.2vw;
    }

    .card-features {
        margin-top: 3vw;
    }

    .buy-button {
        width: 14vw;
        height: 3.6vw;
        font-size: 1.1vw;
        margin-top: 3vw; 
        margin-bottom: 1vw;
    }

    .submit-button{
        width: 14vw;
        height: 3.6vw;
        font-size: 1.1vw;    
    }

    .input-container.with-icon input {
        padding-left: clamp(2vw, 4.5vw, 60px); 
    }

    .input-icon {
        position: absolute;
        left: clamp(0.5vw, 1.02vw, 15px);
        top: clamp(2.3vw, 2.3vw, 100px);
        transform: translateY(-50%);
        width: clamp(0.8vw, 3vw, 20px);
        height: clamp(0.8vw, 4vw, 20px);
        z-index: 10;
    }

    .input-container input,
    .input-container textarea {
        width: 100%; 
        padding: clamp(0.1vw, 1.6vw, 40px); 
        font-size: clamp(0.8vw, 1.2vw, 18px);
    }

    .Campos {
        gap: clamp(0.8vw, 1.1vw, 20px);
        width: 100%; 
        max-width: 360px; 
    }

    .circulo{
        width: clamp(0.8vw, 1.3vw, 18px);
        height: clamp(0.8vw, 1.3vw, 18px);
        right: 12.5vw; 
        top: clamp(1vw, 9.1vw, 110px);
    }

    .c3 {
        width: 20vw;
        height: 18vw;
        left: 76vw;
        top: 113vw;
        z-index: -1;
    }

    .c4 {
        width: clamp(18vw, 25.13vw, 360px);
        height: clamp(15vw, 22.68vw, 330px);
        left: clamp(-10vw, -5vw, -40px);
        top: clamp(110vw, 132.89vw, 1910px);
        z-index: -1;
    }

    .c5 {
        width: clamp(10vw, 14.24vw, 205px);
        height: clamp(8vw, 12.89vw, 185px);
        left: clamp(5vw, 9vw, 190px);
        top: clamp(100vw, 119.53vw, 1720px);
        z-index: -1;
    }
}

@media screen and (max-width: 920px) {
    .circulo{
        top: clamp(1vw, 8.3vw, 110px);
    }
}

@media screen and (max-width: 860px) {
    .circulo{
        width: clamp(0.8vw, 1.3vw, 18px);
        height: clamp(0.8vw, 1.3vw, 18px);
        right: 12.5vw; 
        top: clamp(1vw, 8.7vw, 110px);
    }
}

@media screen and (max-width: 780px) {
    .circulo{
        top: clamp(1vw, 9.4vw, 110px);
    }
}


@media screen and (max-width: 600px) {

    .logo img{
        margin-left: clamp(0.5vw, 5vw, 32px);
        margin-top: clamp(0.5vw, 5vw, 32px);
        width: 130px; 
    }

    .menu-nav,
    .comment {
        display: none; 
    }

    .hamburger-icon{
        display: block;
        height: 5vw;
        width: 6vw;
        margin-right: 9vw;
    }

    .menu-mobile {
        display: flex;
    }

    .subtitle {
        font-size: 8vw;
        text-align: center;
    }

    .introduction-text{
        display: none;
    }

    .introduction-text-mobile {
        display: flex;
        margin-top: clamp(3vw, 4vw, 50px);
        font-weight: 300;
        color: #E5E5E5;
        text-align: center;
        font-size: clamp(1vw, 3vw, 30px);
        line-height: 1.5;
        width: 75vw;
        align-items: justify;
    }

    .cards-section h2 {
        font-size: 6.2vw;
    }

    .form-section h2{
        font-size: 6vw;
    }

    .card {
        width: 60vw;
        height: 110vw;
        border-radius: 1vw;
        flex-direction: column;
        margin-left: 3vw;
    }

    .card img{
        margin-top: 0.7vw;
        width: 8.4vw;
        height: 8.4vw;
    }

    .imagemdinheiro {
        width: 8vw;
        height: 8vw;
    }

    .card-title {
        font-weight: 500;
        font-size: 4vw;
        height: 7vw;
        line-height: 1.4;
        text-align: left;
        margin-top: 5vw; 
        background: linear-gradient(180deg, #FFFFFF 0%, #999999 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .card-description {
        font-size: 2.9vw;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 3vw; 
    }

    .feature-item img {
        width: 4vw;
        height: 4vw;
        margin-right: 0.5vw;
        margin-top: 2.5vw;
    }   

    .feature-item p {
        font-size: 2.7vw;
        margin-top: 2.9vw;
        padding: 0.8vw;
    }

    .price {
        font-size: 6vw;
        margin-top: 0vw;
    }

    .price-per-month {
        font-size: 2.7vw;
        margin-left: 1vw;
        margin-top: -3vw;
    }

    .buy-button {
        width: 32vw; 
        height: 8vw; 
        font-size: 2.2vw;
        margin-bottom: 3vw;
        margin-top: 6vw;
    }

    .submit-button {
        width: 32vw; 
        height: 8vw; 
        font-size: 2.2vw;
    }

    .Campos {
        width: 100%; 
        height: auto;
        gap: 4vw;
    }

    .form-section {
        position: relative;
        margin-left: clamp(8vw, 13vw, 190px);;
        margin-top: clamp(8vw, 13vw, 190px);
        margin-bottom: clamp(3vw, 5.42vw, 80px);
        width: 75vw;
        height: 100%;
    }

    .form-section h3{
        font-size: clamp(1vw, 2.6vw, 24px);
        line-height: clamp(1.5vw, 3vw, 36px);
        margin-top: 1vw;
        align-items: center;
        z-index: 4;
        font-weight: 500;
    }

    .input-icon {
        position: absolute;
        left: clamp(0.5vw, 2vw, 15px);
        top: clamp(1.9vw, 5vw, 40px);
        transform: translateY(-50%);
        width: clamp(0.8vw, 5vw, 20px);
        height: clamp(0.8vw, 5vw, 20px);
        margin-top: 0.4vw;
    }

    .input-container input,
    .input-container textarea {
        border: clamp(0.05vw, 0.07vw, 1px) solid #B784E7;
        border-radius: clamp(0.2vw, 1vw, 5px);
        width: 100%; 
        padding: clamp(3vw, 3.8vw, 40px) ;
        font-size: clamp(2vw, 2.9vw, 30px);
    }

    .input-container ::placeholder {
        font-size: clamp(1vw, 2.9vw, 24px);
    }

    .input-container.with-icon input {
        padding-left: clamp(2vw, 9vw, 45px);
    }

    #textContent, #textNome, #textEscola, #textEmail, #textTelefone, #textCargo, #textForm{
        font-size: 2.6vw;
        width: 72vw;
        text-align: justify;
        margin-left: 1.6vw;
    }

    .circulo{
        width: 1.2vw;
        height: 1.2vw;
        right: 8vw;
        top: 5.0vw;
    }

    .c1 {
        width: 50vw;
        height: 45vw;
        left: -5vw;
        top: 5vw;
    }
    .c2 {
        width: 40vw;
        height: 35vw;
        left: 5vw;
        top: 30vw;
    }
    .c3 {
        width: 30vw;
        height: 27vw;
        left: 57vw;
        top: 0vw;
        z-index: -1;
    }
    .c4 {
        width: 30vw;
        height: 27vw;
        right: 18vw;
        top: 13vw;
        z-index: -1;
    }
    .c5 {
        width: 20vw;
        height: 18vw;
        left: 1vw;
        top: 0vw;
        z-index: -1;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin: clamp(3vw, 4.8vw, 70px) clamp(5vw, 8vw, 115px) 0 clamp(8vw, 11.2vw, 160px);
        padding: 0 0 clamp(2vw, 4vw, 60px) 0;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .info img {
        width: 31%; 
        height: 31%;
        margin-top: 1vw;;
        margin-bottom: 4vw;
    }

    .footer-list {
        margin-bottom: clamp(0.5vw, 30vw, 16px);
        padding: 0; 
        list-style: none; 
    }

    .footer-title {
        font-size: clamp(0.8vw, 2.5vw, 20px);
        margin-top: clamp(1vw, 1.5vw, 24px);
        margin-left: clamp(1.5vw, 3vw, 32px); 
    }

    .footer-subtitle {
        margin-left: clamp(1.5vw, 3vw, 32px); 
        font-size: clamp(0.7vw, 2.3vw, 18px);
        margin-top: clamp(0.5vw, 1vw, 16px);
        display: block;
        text-align: left; 
    }

    .contact-icons img {
        width: clamp(1.2vw, 4.7vw, 28px);
        margin-bottom: clamp(0.5vw, 50vw, 12px);
        margin-right: clamp(1.5vw, 2.17vw, 32px);
    }

}